/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Caveat:wght@500&family=Fjalla+One&family=Josefin+Sans:wght@300&family=Madimi+One&family=Moo+Lah+Lah&family=Poppins&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Burned&family=Varela+Round&display=swap');

/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 10px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
}

.container img{
    width: 100px;
}

.container h2{
    font-size: 2em;
    text-align: center;
}

.container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container form input{
    padding: 15px;
    width: 300px;
    border: none;
    background-color: darkgray;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
}

.container form input:focus{
    border: 2px solid green;
}

.container form label{
    font-size: 20px;
    font-weight: 500;
}
.container form button{
    padding: 15px;
    width: 300px;
    border: none;
    background-color:rgb(96, 247, 96);
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    font-weight: 600;
}


/* Tablets */
@media (min-width: 768px) and (max-width: 1024px){
    
    .container img{
        width: 150px;
    }
    
    .container h2{
        font-size: 3.5em;
        text-align: center;
    }
    
    .container form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .container form input{
        padding: 28px;
        width: 550px;
        border: none;
        background-color: darkgray;
        outline: none;
        border-radius: 5px;
        font-size: 25px;
    }
    
    .container form input:focus{
        border: 2px solid green;
    }
    
    .container form label{
        font-size: 30px;
        font-weight: 500;
    }
    .container form button{
        padding: 18px;
        width: 550px;
        border: none;
        background-color:rgb(96, 247, 96);
        outline: none;
        border-radius: 5px;
        font-size: 22px;
        color: white;
        font-weight: 600;
    }
    
}